script(src="/components/bloqboard.html" type="riot/tag")
script(src="/components/bloq-list.html" type="riot/tag")
script(src="/components/bloq.html" type="riot/tag")
script(src="/components/parameter.html" type="riot/tag")
script(src="/components/test-component.html" type="riot/tag")
script(src="/components/bloq-toolbox.html" type="riot/tag")
script(src="/components/toolbox.html" type="riot/tag")