script-block-list

script
  :coffee
    describe 'script-block-list', () ->
      it 'should mount', () ->
        expect(true).toBe(true)

      it 'should list multiple script blocks', () ->
      
      it 'should list script blocks and their children', () ->
      
      it 'should allow you to move script blocks', () ->

      it 'should  allow you to move script blocks between levels', () ->
      
      