bloq-list {
  float: left;
  display: block;
  padding: 0 10px 50px 10px;
  clear: both;
}
bloq-list.vertical {
  margin: 0 0 9px 0;
  min-height: 10px;
}
body {
  padding-left: 20px;
}
.command {
  display: block;
  margin: 5px 0px 5px 0px;
  padding: 0px;
  color: #fff;
  font-family: 'Inconsolata';
  background: #e8eaf6 none repeat scroll 0 0;
}
.command-header {
  padding: 5px;
  background: #2962ff none repeat scroll 0 0;
  display: inline-block;
  padding: 2px 5px;
  width: 100%;
}
bloq-toolbox.dragged {
  background: transparent;
  box-shadow: none;
  position: absolute;
  top: 0;
  opacity: 0.8;
  z-index: 2000;
}
bloq-toolbox blog {
  margin: 0px;
}
.command {
  float: left;
  display: inline-block;
  clear: left;
}
.draggable-element {
  position: relative;
  z-index: 3;
}
.command,
.static-command {
  display: block;
  margin: 5px 0px 5px 0px;
  padding: 0px;
  color: #fff;
  font-family: 'Inconsolata';
  background: #e8eaf6 none repeat scroll 0 0;
}
.command-header {
  padding: 5px;
  background: #2962ff none repeat scroll 0 0;
  display: inline-block;
  padding: 2px 5px;
  width: 100%;
}
.command-body {
  display: block;
  margin: 0px 0px 5px 0px;
  padding: 0px 10px 10px 10px;
  color: #fff;
  font-family: 'Inconsolata';
  background: #e8eaf6;
  float: left;
  clear: both;
  width: 100%;
}
i.icon-move {
  cursor: pointer;
}
.dragged {
  position: absolute;
  top: 0;
  opacity: 0.8;
  z-index: 2000;
}
.string-box bloq {
  margin: 0 7px;
}
.string-box bloq.placeholder:before {
  margin-left: 0px;
}
bloq {
  float: left;
  clear: both;
}
bloq.highlight {
  background: #333;
  color: #999;
}
bloq.highlight i.icon-move {
  background-image: url("../img/glyphicons-halflings-white.png");
}
bloq.placeholder {
  position: relative;
  margin: 0;
  padding: 0;
  border: none;
}
bloq.placeholder:before {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  margin-top: -5px;
  left: -5px;
  top: -4px;
  border: 5px solid transparent;
  border-left-color: #c62828;
  border-right: none;
}
.variable-box {
  color: #000;
  background-color: #b39ddb;
  min-width: 100px;
  padding: 3px;
}
.editIcon {
  float: right;
  display: inline-block;
}
.editIcon a {
  color: #fff;
  padding: 0 0.7rem;
  line-height: 24px;
  height: 24px;
}
.matBtn {
  height: 28px !important;
  width: 28px !important;
}
a.redEditButton i {
  font-size: 0.7rem;
}
.matIcon {
  font-size: 20px !important;
  line-height: 30px !important;
}
.command-body {
  clear: both;
}
.command-body .vertical {
  float: left;
}
.command,
.static-command,
.placeholder,
.info-block {
  float: left;
  display: inline-block;
  clear: left;
}
.command,
.static-command,
.placeholder,
.info-block {
  float: left;
  display: inline-block;
  clear: left;
}
.btn {
  background: #2962ff !important;
  height: 30px !important;
  line-height: 0px !important;
}
.draggable-element {
  position: relative;
  z-index: 3;
}
#editBtn {
  display: none;
  margin-top: 20px;
  float: right;
}
.edit-btn {
  float: right;
  margin-top: 20px;
}
drop-bloq {
  display: block;
  float: left;
  clear: both;
  position: relative;
  top: -40px;
  margin-bottom: -40px;
  left: 10px;
}
.drop-bloq {
  color: rgba(0,0,0,0.34);
  font-family: 'Inconsolata';
  font-size: 0.8rem;
  font-weight: bold;
  border-radius: 5px;
  border: 2px dashed #c5cae9;
  display: inline-block;
  padding: 4px 9px;
}
.string-box {
  color: #000;
  background-color: #ef9a9a;
  min-width: 100px;
  padding: 3px;
  -webkit-touch-callout: text;
  -webkit-user-select: text;
  -khtml-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}
.string-box span {
  padding: 0 4px;
}
.content-editable-div .command,
.content-editable-div .static-command,
.content-editable-div .placeholder,
.content-editable-div .info-block {
  float: none;
}
.sortable-item .placeholder {
  float: none;
}
.sortable-item .placeholder::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border: 5px solid transparent;
  border-top-color: #f00;
  top: -12px;
  margin-left: -5px;
  border-bottom: none;
}
label {
  font-size: 0.8rem;
  color: rgba(0,0,0,0.67);
}
toolbox {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 2;
  float: left;
  width: 20%;
  box-sizing: border-box;
  padding: 0 20px;
}
:scoped {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
visual-script-editor {
  float: right;
  display: block;
  position: relative;
  z-index: 1;
  width: 80%;
}
.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.4;
  display: none;
  z-index: 2;
  top: 0px;
  left: 0px;
}
.show {
  display: block;
}
:scoped {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
